<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- General Footer -->
	<footer th:fragment="footer" class="page-footer bg-dark mt-auto">
  		<ul class="nav justify-content-center py-3">
    		<li class="nav-item">
      			<a class="nav-link text-light" th:href="@{/legal_notice}">Legal Notice</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link text-light" th:href="@{/privacy_policy}">Privacy Policy</a>
    		</li>
    		<li class="nav-item">
      			<a class="nav-link text-light" th:href="@{/cookies_policy}">Cookies Policy</a>
    		</li>
  		</ul>
  		<div class="footer-copyright text-center text-white py-3">© 2020 Copyright: Fun with Flags</div>
	</footer>
</body>
</html>