<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <!-- General Menu navegation -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark" th:fragment="menu">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
          aria-controls="collapsibleNavbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                >Countries Flags</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/africa_flags}"
                    >Africa Flags</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/asia_flags}"
                    >Asia Flags</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/centralamerica_flags}"
                    >Central America Flags</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/europe_flags}"
                    >Europe Flags</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/northamerica_flags}"
                    >North America Flags</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/oceania_flags}"
                    >Oceania Flags</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    th:href="@{/country_flags/southamerica_flags}"
                    >South America Flags</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/other_flags}"
                >Other Flags</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                >Rankings</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" th:href="@{/quizgames}"
                    >Quiz Games</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" th:href="@{/tfgames}">T/F Games</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/login}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" th:href="@{/signup}">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
