<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
    <title>Join T/F Game - Fun with Flags</title>
    <link th:rel="stylesheet" th:href="@{/css/game.css}" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header_game.html :: header-game"></header>
    <main class="container-fluid">
      <form method="post" th:action="@{/tfgame/}">
        <h1 class="text-center text-white p-5">Enter the T/F Code</h1>
        <label class="sr-only" for="player">Enter name player</label>
        <input
          class="form-control text-center"
          type="text"
          id="player"
          placeholder="Enter name player"
          required
          autofocus
          th:name="player"
        />
        <label class="sr-only" for="codegame">Code Game</label>
        <input
          class="form-control text-center"
          type="text"
          id="codegame"
          maxlength="5"
          placeholder="Enter game code"
          onkeypress="return isNumber(event)"
          required
          autofocus
          th:name="codegame"
        />
        <input
          class="form-control btn btn-light"
          type="submit"
          value="Enter game"
        />
      </form>
    </main>
    <footer th:replace="layouts/footer_game.html :: footer-game"></footer>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/js/is-number.js}"></script>
  </body>
</html>
