<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/webjars/summernote/0.8.20/dist/summernote-bs5.min.css}"
    />
    <title>Add flag - Fun with Flags</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header_user.html :: header-user"></header>
    <nav th:replace="layouts/menu_user.html :: menu-user"></nav>
    <main class="container">
      <h1 class="text-center p-5">Add new flag</h1>
      <form
        id="flag"
        name="flag"
        method="post"
        enctype="multipart/form-data"
        th:action="@{/save_flag}"
        th:object="${flag}"
      >
        <div class="bg-dark p-3">
          <img class="d-block mx-auto" src="" id="preview" width="75%" />
        </div>
        <label class="sr-only" for="image">Image</label>
        <input
          class="form-control input-file"
          type="file"
          id="image-flag"
          name="image-flag"
          accept="image/*"
          required
          autofocus
        />
        <label class="sr-only" for="name">Name of flag</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          placeholder="Name of flag"
          required
          autofocus
          th:field="*{name}"
        />
        <label class="sr-only" for="region">Region</label>
        <select
          class="form-control"
          id="region"
          name="region"
          required
          autofocus
          th:field="*{region}"
        >
          <option value="Africa">Africa</option>
          <option value="Asia">Asia</option>
          <option value="Central America">Central America</option>
          <option value="Europe">Europe</option>
          <option value="North America">North America</option>
          <option value="Oceania">Oceania</option>
          <option value="South America">South America</option>
          <option value="Other">Other</option>
        </select>
        <label class="sr-only" for="information">Information</label>
        <textarea
          class="form-control"
          id="information"
          name="information"
          placeholder="Information of the flag"
          required
          autofocus
          th:field="*{information}"
        ></textarea>
        <input
          class="btn btn-lg btn-success btn-block"
          type="submit"
          value="Save flag"
        />
      </form>
    </main>
    <footer th:replace="layouts/footer_user.html :: footer-user"></footer>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"
    ></script>
    <script
      th:src="@{/webjars/summernote/0.8.20/dist/summernote-bs5.min.js}"
    ></script>
    <script th:src="@{/js/preview-image.js}"></script>
    <script th:src="@{/js/information-flag-textarea.js}"></script>
  </body>
</html>
