<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Cookies policy - Fun with Flags</title>
</head>
<body class="d-flex flex-column min-vh-100">
 	<header th:replace="layouts/header.html :: header"></header>
 	<nav th:replace="layouts/menu.html :: menu"></nav>
	<main class="container">
		<h1 class="text-center" style="padding:2%;">Cookies Policy</h1>
		<p>
		On the web http://funwithflags.io/ we use cookies to facilitate the relationship of visitors with our content and to allow 
		us to compile statistics on the visitors we receive.
		</p>
		<p>
		In compliance with Directive 2009/136 / CE, developed in our legal system by the second paragraph of article 22 of the Law on 
		Information Society Services, following the guidelines of the Spanish Agency for Data Protection, We proceed to inform you 
		in detail of the use made on our website.
		</p>
		<p>
		Cookies are small files that are recorded in the browser used by each visitor to our website. so that the server can remember 
		the visit of that user later when they access our content again. This information does not reveal your identity, or any 
		personal data, or access the content stored on your pc, but it does allow our system to identify you as a specific user who 
		has previously visited the web, viewed certain pages, etc. and also allows you to save your personal preferences 
		and technical information such as for example the visits made or specific pages you visit.
		</p>
		<p>
		The purpose of cookies is to provide the User with faster access to the selected Services.
		</p>
		<p>
		If you do not want cookies to be saved in your browser or you prefer to receive information each time a cookie requests 
		installed, you can configure your browsing options to be done that way. Most of the browsers allow the management of 
		cookies in 3 different ways:
		</p>
		<ul>
			<li>Cookies are always rejected.</li>
			<li>The browser asks if the user wants to install each cookie.</li>
			<li>Cookies are always accepted.</li>
		</ul>
		<p>
		Your browser may also include the possibility of selecting in detail the cookies you want to be installed on your computer. 
		Specifically, the user can normally accept any of the following options:
		</p>
		<ul>
			<li>Reject cookies from certain domains.</li>
			<li>Reject third-party cookies.</li>
			<li>Accept cookies as non-persistent (they are deleted when the browser is closed).</li>
			<li>Allow the server to create cookies for a different domain.</li>
		</ul>
		<p>
		To allow, know, block or eliminate the cookies installed on your computer, you can do so by configuring the browser options 
		installed on your computer.
		</p>
		<p>
		You can find information on how to configure the most used browsers in the following locations:
		</p>
		<ul>
			<li> Internet Explorer: Tools -> Internet Options -> Privacy -> Configuration. For more information,
			You can consult Microsoft support or browser Help. </li>
			<li> Firefox: Tools -> Options -> Privacy -> History -> Custom Settings. For more information,
			You can consult Mozilla support or browser Help. </li>
			<li> Chrome: Settings -> Show advanced options -> Privacy -> Content settings. For more information,
			You can consult Google support or browser Help. </li>
			<li> Safari: Preferences -> Security. For more information,
			You can consult Apple support or browser Help. </li>
		</ul>
		<p>
		Regarding third-party cookies, that is, those that are unrelated to our website, we cannot be held responsible of the content 
		and veracity of the privacy policies that they include so the information we offer you is always with reference to the source.
		</p>
	</main>
 	<footer th:replace="layouts/footer.html :: footer"></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>