<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Legal notice - Fun with Flags</title>
</head>
<body class="d-flex flex-column min-vh-100">
 	<header th:replace="layouts/header.html :: header"></header>
 	<nav th:replace="layouts/menu.html :: menu"></nav>
	<main class="container">
		<h1 class="text-center" style="padding:2%;">Legal Notice</h1>
		<p>
		This Legal Notice regulates the general conditions of access and use of the website accessible at the URL address
		http://funwithflags.io/ (hereinafter, the website), that RORTEGAG, S.L. makes available to Internet users.
		The use of the website implies the full and unreserved acceptance of each and every one of the provisions included in
		this Legal Notice. Consequently, the user of the website must carefully read this Legal Notice in each of the
		occasions when you intend to use the website, since the text could be modified at the discretion of the owner of the website,
		or due to a legislative, jurisprudential or business practice change.
		</p>
		<p>
		<b>1.- OWNERSHIP OF THE WEBSITE.</b>
		<br>
		Name of the holder: Raúl Ortega Gallego
		Town: Valdepeñas
		Province: Ciudad Real
		C.P .: 13300
		C.I.F .: V02272565
		Contact phone: 926 60 12 77
		Email: info@funwithflags.io
		</p>
		<p>
		<b>2.- OBJECT.</b>
		<br>
		The website provides users of the same access to information and services provided by RORTEGAG, S.L. to those people or 
		organizations interested in them.
		</p>
		<p>
		<b>3.- ACCESS AND USE OF THE WEB.</b>
		</p>
		<p>
		<b>3.1.- Free access and use of the website.</b> Access to the website is free for its users.
		<br>
		<b>3.2.- User registration.</b> In general, access and use of the website does not require prior subscription or registration of 
		its users.
		</p>
		<p>
		<b>4.- CONTENTS OF THE WEB.</b>
		The language used by the owner on the web will be the 5 languages ​​of Europe: English, French, Spanish, Italian and German.
		RORTEGAG, S.L. is not responsible for the lack of understanding or understanding of the language of the web by the user,
		nor of its consequences. RORTEGAG, S.L. You can modify the contents without prior notice, as well as delete and change these 
		within the web, such as the way in which they are accessed, without any justification and freely, not taking responsibility for 
		the consequences that they may cause to users. The use of the contents of the web to promote, contract or disseminate 
		advertising or information of your own or of third parties without the authorization of LA RORTEGAG, S.L., or send advertising 
		or information using the services or information that are made available to users, regardless of whether the use is free or not.
		The links or hyperlinks that third parties incorporate in their web pages, directed to this website, will be for the opening of 
		the complete website, not being able to express, directly or indirectly, false, inaccurate or confusing indications, nor incur 
		in unfair or illicit actions against RORTEGAG, S.L.
		</p>
		<p>
		<b>5.- LIMITATION OF LIABILITY.</b>
		Both the access to the web and the unauthorized use that may be made of the information contained therein is of the sole 
		responsibility of whoever performs it. RORTEGAG, S.L. will not be liable for any consequence, damage or harm that may arise 
		from such access or use. RORTEGAG, S.L. is not responsible for security errors, which may be produce or damage that may be 
		caused to the user's computer system (hardware and software), or to the files or documents stored in it, as a consequence of:
		</p>
		<ul>
			<li>The presence of a virus on the user's computer that is used to connect to the services and contents of the web.</li>
			<li>A malfunction of the browser.</li>
			<li>AND/OR the use of non-updated versions of it.</li>
		</ul>
		<p>
		RORTEGAG, S.L. is not responsible for the reliability and speed of the hyperlinks that are incorporated into the web for the 
		opening other. RORTEGAG, S.L. does not guarantee the usefulness of these links, nor is it responsible for the content or 
		services to which the user can access through these links, or the proper functioning of these websites. RORTEGAG, S.L. will not 
		be responsible for viruses or other computer programs that deteriorate or may deteriorate the systems or computer equipment of 
		users when accessing its website or other websites that have been accessed through links on this website.
		</p>
		<p>
		<b>6.- USE OF “COOKIE” TECHNOLOGY.</b>
		The website does not use cookies or any other invisible procedure for collecting information when the user browses it, 
		respecting the confidentiality and privacy of the same at all times. * IF COOKIES ARE USED, CONSULT THE COMMUNICATION ON THE 
		USE OF COOKIES The website uses cookies, you can consult our <a th:href="@{/cookies_policy}">Cookies Policy</a>, 
		that respects the confidentiality and privacy of the same at all times.
		</p>
		<p>
		<b>7.- INTELLECTUAL AND INDUSTRIAL PROPERTY.</b>
		RORTEGAG, S.L. is the property of all the industrial and intellectual property rights of the web, as well as the contents 
		it houses. Any use of the website or its contents must be exclusively private. It is reserved exclusively for ………., 
		Any other use that involves copying, reproduction, distribution, transformation, public communication or any other similar 
		action, of all or part of the contents of the web, so that no user You may carry out these actions without the prior written 
		authorization of RORTEGAG, S.L.
		</p>
		<p>
		<b>8.- PRIVACY POLICY AND DATA PROTECTION</b>
		RORTEGAG, S.L. guarantees the protection and confidentiality of personal data, of any kind provided to us our client companies 
		in accordance with the provisions of Organic Law 15/1999, of December 13, on Data Protection of Personal Character. All data 
		provided by our client companies to RORTEGAG, S.L. or your staff, will be included in a file automated personal data created 
		and maintained under the responsibility of RORTEGAG, S.L., essential for provide the services requested by users.
		The data provided will be treated according to the Regulation of Security Measures (Royal Decree 1720/2007 of December 21),
		in this sense RORTEGAG, S.L. has adopted the levels of protection that are legally required, and has installed all the measures
		techniques at your fingertips to avoid loss, misuse, alteration, unauthorized access by third parties. However, the user
		you should be aware that Internet security measures are not foolproof. In the event that it deems appropriate that
		transfer their personal data to other entities, the user will be informed of the data transferred, of the purpose of the
		file and the name and address of the assignee, so that they can give their unequivocal consent in this regard.
		In compliance with the provisions of the RGPD, the user may exercise their rights of access, rectification, cancellation and
		opposition. For this you must contact us at info@funwithflags.io
		</p>
		<p>
		<b>9.- APPLICABLE LEGISLATION AND COMPETENT JURISDICTION.</b>
		This Legal Notice will be interpreted and governed in accordance with Spanish legislation. RORTEGAG, S.L. and users, expressly 
		waiving any other jurisdiction that may correspond to them, they submit to the courts and tribunals of the User's address for 
		any dispute that may arise from accessing or using the website. In the event that the user is domiciled outside of Spain, 
		RORTEGAG, S.L. and the user, submit, expressly waiving any other jurisdiction, to the courts and tribunals of the domicile 
		of RORTEGAG, S.L.
		</p>
	</main>
    <footer th:replace="layouts/footer.html :: footer"></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>