<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Privacy policy - Fun with Flags</title>
</head>
<body class="d-flex flex-column min-vh-100">
 	<header th:replace="layouts/header.html :: header"></header>
 	<nav th:replace="layouts/menu.html :: menu"></nav>
	<main class="container">
		<h1 class="text-center" style="padding:2%;">Privacy Policy</h1>
		<p>
		In compliance with the provisions of the RGPD, we inform you that your data will be processed in our database, for the purpose 
		of maintaining and complying with the relationship with our entity, including sending communications within the framework of 
		the aforementioned relationship. Likewise, your data will be transferred in all those cases where it is necessary for the 
		development, compliance and control of the relationship with our entity or in the cases authorized by a regulation with the 
		force of law. In compliance with the RGPD can exercise its ARCO rights before RORTEGAG, S.L., 13300 - Valdepeñas.
		The content of this communication, as well as that of all the attached documentation, is subject to the duty of secrecy and 
		is directed only to its recipient. In the event that you were not the recipient, we ask you to indicate it and not
		communicate its content to third parties, proceeding to its destruction. The information society service provider must take 
		into account that, in addition to the information provided to the recipients of the service through their "Privacy Policy", 
		must have additional legal texts relating to other mandatory regulations, such as, without limitation or exclusion, general 
		conditions of the contracting, intellectual and industrial property, conditions of use of the website and responsibilities 
		in this regard, or what Law 34/2002, of July 11, on Services of the Information Society and Electronic Commerce itself can 
		establish in any other precepts apart from its article 10 or even complete the information that, in relation to this, 
		were necessary.
		</p>
	</main>
 	<footer th:replace="layouts/footer.html :: footer"></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>