<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
    <title>Edit [[${truefalseGame.name}]] - Fun with Flags</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header_user.html :: header-user"></header>
    <nav th:replace="layouts/menu_user.html :: menu-user"></nav>
    <main class="container">
      <h1 class="text-center p-5">Edit T/F game - [[${truefalseGame.name}]]</h1>
      <form
        name="quizgame"
        method="post"
        enctype="multipart/form-data"
        th:action="@{/save_edit_tfgame}"
        th:object="${truefalseGame}"
        id="truefalsegame"
      >
        <input
          class="form-control"
          type="hidden"
          id="id"
          name="id"
          required
          th:field="*{id}"
        />
        <label class="sr-only" for="name">Name of T/F game</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          placeholder="Name of T/F game"
          required
          autofocus
          th:field="*{name}"
        />
        <label for="flag">Select flag</label>
        <select
          class="form-control"
          id="flag"
          name="flag"
          required
          autofocus
          th:field="*{flag}"
        >
          <option
            th:each="flag : ${listFlags}"
            th:value="${flag.id}"
            th:text="${flag.name}"
          ></option>
        </select>
        <div id="accordion">
          <div
            class="card"
            th:each="truefalsequestion, iStat : ${listTrueFalseQuestions}"
          >
            <div class="card-header">
              <a
                class="card-link"
                data-toggle="collapse"
                th:href="@{|#q${iStat.index+1}|}"
                >Question #<span th:text="${iStat.index+1}"></span
              ></a>
            </div>
            <div
              class="collapse show"
              data-parent="#accordion"
              th:id="q + ${iStat.index+1}"
            >
              <div class="card-body">
                <label class="sr-only" th:for="question + ${iStat.index+1}"
                  >What is the question?</label
                >
                <input
                  class="form-control"
                  type="text"
                  name="question"
                  placeholder="What is the question?"
                  disabled
                  th:id="question + ${iStat.index+1}"
                  th:value="${truefalsequestion.question}"
                />
                <label th:for="answercorrect + ${iStat.index+1}"
                  >Select True or False</label
                >
                <select
                  class="form-control"
                  name="answercorrect"
                  disabled
                  th:id="answercorrect + ${iStat.index+1}"
                >
                  <option value="True">True</option>
                  <option value="False">False</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <input
          class="btn btn-lg btn-success btn-block"
          type="submit"
          value="Edit T/F game"
        />
      </form>
    </main>
    <footer th:replace="layouts/footer_user.html :: footer-user"></footer>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"
    ></script>
    <script th:src="@{/js/preview-image.js}"></script>
  </body>
</html>
