<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
    <title>[[${truefalseGame.name}]] - Fun with Flags</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header_user.html :: header-user"></header>
    <nav th:replace="layouts/menu_user.html :: menu-user"></nav>
    <main class="container">
      <h1 class="text-center p-5" th:text="${truefalseGame.name}"></h1>
      <img
        class="img-fluid d-block mx-auto"
        width="50%"
        th:src="${truefalseGame.flag.image}"
        th:alt="${truefalseGame.flag.name}"
      />
      <h2 class="text-center p-5">
        Game code
        <span th:text="${truefalseGame.code}"></span>
      </h2>
      <h2 class="text-center p-3">T/F's Questions</h2>
      <div
        class="container bg-light pt-3"
        th:each="truefalsequestion, iStat : ${listTrueFalseQuestions}"
      >
        <p class="text-center font-weight-bold">
          Question #<span th:text="${iStat.index} + 1"></span>
        </p>
        <p class="text-center" th:text="${truefalsequestion.question}"></p>
        <br />
        <p class="text-center font-weight-bold text-success">Correct answer</p>
        <p
          class="text-center text-success pb-3"
          th:text="${truefalsequestion.answerCorrect}"
        ></p>
      </div>
    </main>
    <footer th:replace="layouts/footer_user.html :: footer-user"></footer>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
