<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
    <title>Sign up - Fun with Flags</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header.html :: header"></header>
    <nav th:replace="layouts/menu.html :: menu"></nav>
    <main class="container">
      <form
        class="form-horizontal"
        role="form"
        method="post"
        th:action="@{/signup}"
        th:object="${user}"
      >
        <div>
          <div
            class="alert alert-success text-center"
            role="alert"
            th:if="${msg}"
            th:utext="${msg}"
          ></div>
        </div>
        <h2 class="text-center p-3">Register New User</h2>
        <label class="sr-only" for="name">First Name</label>
        <input
          class="form-control"
          type="text"
          id="firstname"
          placeholder="First Name"
          required
          autofocus
          th:field="*{firstName}"
        />
        <label class="sr-only" for="name">Last Name</label>
        <input
          class="form-control"
          type="text"
          id="lastname"
          placeholder="Last Name"
          required
          autofocus
          th:field="*{lastName}"
        />
        <div class="form-control-feedback">
          <span
            class="text-danger align-middle"
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
          ></span>
        </div>
        <label class="sr-only" for="email">Email</label>
        <input
          class="form-control"
          type="text"
          id="email"
          placeholder="username@email.com"
          required
          autofocus
          th:field="*{email}"
        />
        <label class="sr-only" for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          placeholder="Password"
          required
          th:field="*{password}"
        />
        <div class="form-control-feedback">
          <span
            class="text-danger align-middle"
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
          ></span>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Register
        </button>
      </form>
    </main>
    <footer th:replace="layouts/footer.html :: footer"></footer>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
