<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Access denied - Fun with Flags</title>
</head>
<body class="d-flex flex-column min-vh-100">
 	<header th:replace="layouts/header.html :: header"></header>
 	<nav th:replace="layouts/menu.html :: menu"></nav>
	<main class="container-fluid">
		<h1 class="text-center" style="padding: 5%;">Access denied</h1>
		<p class="text-center">There was an error when viewing the page content.</p>
		<p class="text-center">Access has been denied.</p>
	</main>
	<footer th:replace="layouts/footer.html :: footer"></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>