<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Forbidden (403) - Fun with Flags</title>
</head>
<body>
	<header th:replace="layouts/header.html :: header"></header>
	<main class="container" style="padding:10%;">
		<h1 class="text-center">Forbidden - 403</h1>
		<p class="text-center">
		The content you want to see has been forbidden.
		</p>
		<p class="text-center">Sorry for the inconvenience.</p>
	</main>
</body>
</html>