<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<title>Quiz games - Fun with Flags</title>
</head>
<body class="d-flex flex-column min-vh-100">
  	<header th:replace="layouts/header.html :: header"></header>
 	<nav th:replace="layouts/menu.html :: menu"></nav>
	<main class="container">
		<br>
		<h1 class="text-center" style="padding:5%;">Ranking Quiz Games</h1>
		<div class="container" th:if="${listQuizGames.empty}">
			<h3 class="text-center text-danger" style="padding:2%;">
				It seems that there are no quiz games, sign up and create one.
			</h3>
			<br>
			<button type="button" th:onclick="window.location.href='/signup'" value="Sign up" class="btn btn-primary mx-auto d-block" style="padding:2%;">Sign up</button>
		</div>
		<div class="card-columns">
			<div class="card bg-light" th:each="quizgame : ${listQuizGames}">
				<div class="card-header"><p class="text-center" th:text="${quizgame.name}"></p></div>
				<div class="card-body">
					<p class="text-center">Game code: <span th:text="${quizgame.code}"></span></p>
					<a class="btn btn-primary d-block" th:href="@{/ranking_quizgame/}+${quizgame.id}">View ranking</a>
				</div>
			</div>
		</div>
		<br>
 	</main>
	<footer th:replace="layouts/footer.html :: footer"></footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>