<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"
    />
    <title>Add Quiz game - Fun with Flags</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header th:replace="layouts/header_user.html :: header-user"></header>
    <nav th:replace="layouts/menu_user.html :: menu-user"></nav>
    <main class="container">
      <br />
      <h1 class="text-center p-5">Add new Quiz game</h1>
      <form
        id="quizgame"
        name="quizgame"
        method="post"
        enctype="multipart/form-data"
        th:action="@{/save_quizgame}"
        th:object="${quizgame}"
      >
        <label class="sr-only" for="name">Name of Quiz game</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name of Quiz game"
          required
          autofocus
          th:field="*{name}"
        />
        <label for="flag">Select flag</label>
        <select
          class="form-control"
          id="flag"
          name="flag"
          required
          autofocus
          th:field="*{flag}"
        >
          <option
            th:each="flag : ${listFlags}"
            th:value="${flag.id}"
            th:text="${flag.name}"
          ></option>
        </select>
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#q1"
                >Question #1</a
              >
            </div>
            <div class="collapse show" id="q1" data-parent="#accordion">
              <div class="card-body">
                <label class="sr-only" for="question1"
                  >What is the question?</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="question1"
                  name="question"
                  placeholder="What is the question?"
                  required
                  autofocus
                  th:field="${question.question}"
                />
                <label for="answerA1">Answer A</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerA1"
                  name="answerA"
                  placeholder="Answer A"
                  required
                  autofocus
                  th:field="${question.answerA}"
                />
                <label for="answerB1">Answer B</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerB1"
                  name="answerB"
                  placeholder="Answer B"
                  required
                  autofocus
                  th:field="${question.answerB}"
                />
                <label for="answerC1">Answer C</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerC1"
                  name="answerC"
                  placeholder="Answer C"
                  required
                  autofocus
                  th:field="${question.answerC}"
                />
                <label for="answerD1">Answer D</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerD1"
                  name="answerD"
                  placeholder="Answer D"
                  required
                  autofocus
                  th:field="${question.answerD}"
                />
                <label for="answercorrect1">Select the correct answer</label>
                <select
                  class="form-control"
                  id="answercorrect1"
                  name="answercorrect"
                  required
                  autofocus
                  th:field="${question.answerCorrect}"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#q2"
                >Question #2</a
              >
            </div>
            <div class="collapse show" id="q2" data-parent="#accordion">
              <div class="card-body">
                <label class="sr-only" for="question2"
                  >What is the question?</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="question2"
                  name="question"
                  placeholder="What is the question?"
                  required
                  autofocus
                  th:field="${question.question}"
                />
                <label for="answerA2">Answer A</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerA2"
                  name="answerA"
                  placeholder="Answer A"
                  required
                  autofocus
                  th:field="${question.answerA}"
                />
                <label for="answerB2">Answer B</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerB2"
                  name="answerB"
                  placeholder="Answer B"
                  required
                  autofocus
                  th:field="${question.answerB}"
                />
                <label for="answerC2">Answer C</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerC2"
                  name="answerC"
                  placeholder="Answer C"
                  required
                  autofocus
                  th:field="${question.answerC}"
                />
                <label for="answerD2">Answer D</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerD2"
                  name="answerD"
                  placeholder="Answer D"
                  required
                  autofocus
                  th:field="${question.answerD}"
                />
                <label for="answercorrect2">Select the correct answer</label>
                <select
                  class="form-control"
                  id="answercorrect2"
                  name="answercorrect"
                  required
                  autofocus
                  th:field="${question.answerCorrect}"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#q3"
                >Question #3</a
              >
            </div>
            <div class="collapse show" id="q3" data-parent="#accordion">
              <div class="card-body">
                <label class="sr-only" for="question3"
                  >What is the question?</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="question3"
                  name="question"
                  placeholder="What is the question?"
                  required
                  autofocus
                  th:field="${question.question}"
                />
                <label for="answerA3">Answer A</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerA3"
                  name="answerA"
                  placeholder="Answer A"
                  required
                  autofocus
                  th:field="${question.answerA}"
                />
                <label for="answerB3">Answer B</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerB3"
                  name="answerB"
                  placeholder="Answer B"
                  required
                  autofocus
                  th:field="${question.answerB}"
                />
                <label for="answerC3">Answer C</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerC3"
                  name="answerC"
                  placeholder="Answer C"
                  required
                  autofocus
                  th:field="${question.answerC}"
                />
                <label for="answerD3">Answer D</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerD3"
                  name="answerD"
                  placeholder="Answer D"
                  required
                  autofocus
                  th:field="${question.answerD}"
                />
                <label for="answercorrect3">Select the correct answer</label>
                <select
                  class="form-control"
                  id="answercorrect3"
                  name="answercorrect"
                  required
                  autofocus
                  th:field="${question.answerCorrect}"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#q4"
                >Question #4</a
              >
            </div>
            <div class="collapse show" id="q4" data-parent="#accordion">
              <div class="card-body">
                <label class="sr-only" for="question4"
                  >What is the question?</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="question4"
                  name="question"
                  placeholder="What is the question?"
                  required
                  autofocus
                  th:field="${question.question}"
                />
                <label for="answerA4">Answer A</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerA4"
                  name="answerA"
                  placeholder="Answer A"
                  required
                  autofocus
                  th:field="${question.answerA}"
                />
                <label for="answerB4">Answer B</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerB4"
                  name="answerB"
                  placeholder="Answer B"
                  required
                  autofocus
                  th:field="${question.answerB}"
                />
                <label for="answerC4">Answer C</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerC4"
                  name="answerC"
                  placeholder="Answer C"
                  required
                  autofocus
                  th:field="${question.answerC}"
                />
                <label for="answerD4">Answer D</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerD4"
                  name="answerD"
                  placeholder="Answer D"
                  required
                  autofocus
                  th:field="${question.answerD}"
                />
                <label for="answercorrect4">Select the correct answer</label>
                <select
                  class="form-control"
                  id="answercorrect4"
                  name="answercorrect"
                  required
                  autofocus
                  th:field="${question.answerCorrect}"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#q5"
                >Question #5</a
              >
            </div>
            <div class="collapse show" id="q5" data-parent="#accordion">
              <div class="card-body">
                <label class="sr-only" for="question5"
                  >What is the question?</label
                >
                <input
                  class="form-control"
                  type="text"
                  id="question5"
                  name="question"
                  placeholder="What is the question?"
                  required
                  autofocus
                  th:field="${question.question}"
                />
                <label for="answerA5">Answer A</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerA5"
                  name="answerA"
                  placeholder="Answer A"
                  required
                  autofocus
                  th:field="${question.answerA}"
                />
                <label for="answerB5">Answer B</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerB5"
                  name="answerB"
                  placeholder="Answer B"
                  required
                  autofocus
                  th:field="${question.answerB}"
                />
                <label for="answerC5">Answer C</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerC5"
                  name="answerC"
                  placeholder="Answer C"
                  required
                  autofocus
                  th:field="${question.answerC}"
                />
                <label for="answerD5">Answer D</label>
                <input
                  class="form-control"
                  type="text"
                  id="answerD5"
                  name="answerD"
                  placeholder="Answer D"
                  required
                  autofocus
                  th:field="${question.answerD}"
                />
                <label for="answercorrect5">Select the correct answer</label>
                <select
                  class="form-control"
                  id="answercorrect5"
                  name="answercorrect"
                  required
                  autofocus
                  th:field="${question.answerCorrect}"
                >
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <input
          class="btn btn-lg btn-success btn-block"
          type="submit"
          value="Save quiz game"
        />
      </form>
    </main>
    <footer th:replace="layouts/footer_user.html :: footer-user"></footer>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script
      th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
